@font-face {
    font-family: 'AvocadoCake';
    src: url('../share/fonts/Avocado\ Cake\ Demo.otf');
}

@font-face {
    font-family: 'Joynoted';
    src: url('../share/fonts/Joynoted\ Demo.ttf');
}

@font-face {
    font-family: 'SmallMemory';
    src: url('../share/fonts/SmallMemory.ttf');
}

body {
    background-color: #69D1C5;
}

img {
    width: 100%;
    max-width: 1200px;
}

#img01 {
    position: absolute;
    display: flex;
    justify-content: center;

    max-width: 100vmax;
    width: 90vw;
    max-height: 100vmax;
    height: 80vh;
    top: 10vh;

    background: url('./img/01.png');
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    backdrop-filter: blur(4px);

    border-radius: 153px;
}

#centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cir01 {
    position: absolute;
    width: 430px;
    height: 420px;
    top: 227px;
    left: -150px;

    background: #BDBF09;
    border-radius: 50%;
}

#cir02 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: -170px;
    top: 236px;

    background: #B4B62A;
    border-radius: 50%;
}

#cir03 {
    position: absolute;
    width: 360px;
    height: 400px;
    left: -190px;
    top: 238px;

    background: #A2A412;
    border-radius: 50%;
}

#mensaje {
    position: absolute;
    width: 280px;
    height: 400px;

    font-family: 'AvocadoCake';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    top: 50%;
    line-height: 58px;
    text-align: center;

    color: #0F0A0A;
}

#centro {
    display: flex;
    align-items: center;
}

h1 {
    position: absolute;
    width: 827px;
    height: 58px;
    left: 306px;
    top: 550px;

    font-family: 'AvocadoCake';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 87px;
    text-align: center;

    color: #01071A;
}